/* @import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600; 700&display-swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #b7e4ea;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background: #24323d;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #1ab188;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: relative;
  text-align: center;
}

.message,
.signin {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.signin a {
  color: #1ab188;
  text-decoration: none;
  transition: 0.3s;
}

.signin a:hover {
  color: #1ec79a;
}

.form-group {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  background-color:cadetblue;
  outline: none;
  border: none;
  border-radius: 10px;
}

.form label input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #24323d;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label input:placeholder-shown + span {
  top: 15px;
  font: size 0.9em;
}

.form label input:focus + span,
.form label input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label input:valid + span {
  color: #1ab188;
}

.form label .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #24323d;
  cursor: pointer;
  width: 20px;
  height: 20px;
  align-content: center;
  z-index: 9;
}


.submit{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  background: #0073e6;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.submit:hover{
  background: #005bb5;
}

.reset{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  background: #e60000;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}
.reset:hover{
  background: #b50000;
}

